<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8067a5">  <td>17/11/20 12:09:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API_001_login.API_001_login_SuccessUsecase()[pri:0, instance:com.tatahealth.consumer_sso.API_001_login@210366b4]">API_001_login_SuccessUsecase</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>17/11/20 12:09:46</td>   <td>2011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API_002_logout.API_002_logout_SuccessUsecase()[pri:0, instance:com.tatahealth.consumer_sso.API_002_logout@3b0143d3]">API_002_logout_SuccessUsecase</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>17/11/20 12:09:45</td>   <td>572</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API_003_ResetPassword.API_003_ResetPassword_SuccessUsecase()[pri:0, instance:com.tatahealth.consumer_sso.API_003_ResetPassword@eec5a4a]">API_003_ResetPassword_SuccessUsecase</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>17/11/20 12:09:45</td>   <td>658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API_004_changePassword.API_004_changePassword_SuccessUsecase()[pri:0, instance:com.tatahealth.consumer_sso.API_004_changePassword@2b2948e2]">API_004_changePassword_SuccessUsecase</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="947870">  <td>17/11/20 12:09:45</td>   <td>766</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API_005_forgotUsername.API_005_forgotUsername_SuccessUsecase()[pri:0, instance:com.tatahealth.consumer_sso.API_005_forgotUsername@2286778]">API_005_forgotUsername_SuccessUsecase</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="b3f17c">  <td>17/11/20 12:09:45</td>   <td>870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API_006_verifyLoginName.API_006_verifyLoginName_SuccessUsecase()[pri:0, instance:com.tatahealth.consumer_sso.API_006_verifyLoginName@5a8e6209]">API_006_verifyLoginName_SuccessUsecase</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="7d6068">  <td>17/11/20 12:09:45</td>   <td>970</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API_007_addEmergencyContactDetail.API_007_addEmergencyContactDetail_SuccessUsecase()[pri:0, instance:com.tatahealth.consumer_sso.API_007_addEmergencyContactDetail@1f28c152]">API_007_addEmergencyContactDetail_SuccessUsecase</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="60df86">  <td>17/11/20 12:09:46</td>   <td>1359</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API_008_getConsumerAccountDetail.API_008_getConsumerAccountDetail_SuccessUsecase()[pri:0, instance:com.tatahealth.consumer_sso.API_008_getConsumerAccountDetail@6ddf90b0]">API_008_getConsumerAccountDetail_SuccessUsecase</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="70b3e1">  <td>17/11/20 12:09:45</td>   <td>1057</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API_009_getEmergencyContactDetails.API_009_getEmergencyContactDetails_SuccessUsecase()[pri:0, instance:com.tatahealth.consumer_sso.API_009_getEmergencyContactDetails@731a74c]">API_009_getEmergencyContactDetails_SuccessUsecase</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>17/11/20 12:09:46</td>   <td>1234</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API_010_removeEmergencyContactDetails.API_010_removeEmergencyContactDetails_SuccessUsecase()[pri:0, instance:com.tatahealth.consumer_sso.API_010_removeEmergencyContactDetails@4b4523f8]">API_010_removeEmergencyContactDetails_SuccessUsecase</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>17/11/20 12:09:45</td>   <td>1143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API_011_updateEmergencyContactDetail.API_011_updateEmergencyContactDetail_SuccessUsecase()[pri:0, instance:com.tatahealth.consumer_sso.API_011_updateEmergencyContactDetail@369f73a2]">API_011_updateEmergencyContactDetail_SuccessUsecase</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>17/11/20 12:09:46</td>   <td>1517</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API_012_addOrUpdateWorkDetail.API_012_addOrUpdateWorkDetail_SuccessUsecase()[pri:0, instance:com.tatahealth.consumer_sso.API_012_addOrUpdateWorkDetail@7d907bac]">API_012_addOrUpdateWorkDetail_SuccessUsecase</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>17/11/20 12:09:46</td>   <td>1606</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API_013_getWorkDetail.API_013_getWorkDetail_SuccessUsecase()[pri:0, instance:com.tatahealth.consumer_sso.API_013_getWorkDetail@3a5ed7a6]">API_013_getWorkDetail_SuccessUsecase</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>17/11/20 12:09:46</td>   <td>1701</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API_014_saveOrUpdateConsumerAddress.API_014_saveOrUpdateConsumerAddress_SuccessUsecase()[pri:0, instance:com.tatahealth.consumer_sso.API_014_saveOrUpdateConsumerAddress@6325a3ee]">API_014_saveOrUpdateConsumerAddress_SuccessUsecase</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>17/11/20 12:09:46</td>   <td>1813</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API_015_getConsumerAddress.API_015_getConsumerAddress_SuccessUsecase()[pri:0, instance:com.tatahealth.consumer_sso.API_015_getConsumerAddress@7791a895]">API_015_getConsumerAddress_SuccessUsecase</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>17/11/20 12:09:46</td>   <td>1907</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API_016_setCurrentAddress.API_016_setCurrentAddress_SuccessUsecase()[pri:0, instance:com.tatahealth.consumer_sso.API_016_setCurrentAddress@57536d79]">API_016_setCurrentAddress_SuccessUsecase</td> 
  <td>main@603650290</td>   <td></td> </tr>
</table>
