<h2>Reporter output</h2><table><tr><td>API: http://52.66.123.140:9590/consumerOnboarding/api/v1/userLogin</td></tr>
<tr><td>STATUS CODE: 200</td></tr>
<tr><td>Request Message: {"password":"qwer1234","userLoginName":"9972937334","devicePlatform":"260","deviceId":"260","deviceToken":"260"}</td></tr>
<tr><td>STATUS CODE: 200</td></tr>
<tr><td>Response: {"status":{"statusCode":3009,"message":"logged in successfully","localizedMessage":"logged in successfully","httpStatusCode":200},"responseData":{"userProfile":{"consumerUserId":2454,"userName":"9972937334","firstName":"wwwwww","lastName":"Xxff","gender":"Male","userDob":980965800000,"bloodGroup":null,"mobileNo":"9972937334","emailId":"wilson.i@tatahealth.com","userPhoto":"","roleType":"Consumer","isactive":"Y","createdUserId":null,"createdTimestamp":1507541305223,"modifiedUserId":null,"modifiedTimestamp":null,"termAndCondition":"N","acceptTCDate":null,"ipAddress":null,"aadharCardNumber":null,"otpCreatedTime":null,"isEmailVerfied":"N","authToken":"ced26075-3d50-4bcc-a41e-bd75b8e0f147-1511159981602","healthVaultPin":"1111","createdHealthVaultTimestamp":1507543074318,"modifiedHealthVaultTimestamp":1507543074318,"digitalHealtVaultFileCount":0,"digitalHealtVaultFolderCount":0,"accountType":"Personal Account","healthWalletBalance":0.0,"healthScoreCardTestStatus":0.0,"referalCode":"AE14A","height":150.0,"weight":55.0}}}</td></tr>
<tr><td>API: http://52.66.123.140:9590/consumerOnboarding/api/v1/resetPassword</td></tr>
<tr><td>STATUS CODE: 200</td></tr>
<tr><td>Request Message: {"password":"test@1234","userName":"9972937334"}</td></tr>
<tr><td>STATUS CODE: 200</td></tr>
<tr><td>Response: {"status":{"statusCode":-3826,"message":"OTP verifcation has pending","localizedMessage":"OTP verifcation has pending","httpStatusCode":400},"responseData":{"message":"Failed"}}</td></tr>
<tr><td>API: http://52.66.123.140:9590/consumerOnboarding/api/v1/changePassword</td></tr>
<tr><td>STATUS CODE: 200</td></tr>
<tr><td>Request Message: {"oldPassword":"test@1234","newPassword":"test@1234","consumerUserId":"2454"}</td></tr>
<tr><td>STATUS CODE: 200</td></tr>
<tr><td>Response: {"status":{"statusCode":-7002,"message":"Invalid Credentials For User.","localizedMessage":"Invalid Credentials For User.","httpStatusCode":400},"responseData":{"message":"Failed"}}</td></tr>
<tr><td>API: http://52.66.123.140:9590/consumerOnboarding/api/v1/forgotUsername</td></tr>
<tr><td>STATUS CODE: 200</td></tr>
<tr><td>Request Message: {"mobileNo":"9972937334","platform":"1"}</td></tr>
<tr><td>STATUS CODE: 200</td></tr>
<tr><td>Response: {"status":{"statusCode":3013,"message":"OTP sent successfully","localizedMessage":"OTP sent successfully","httpStatusCode":200},"responseData":{"otpDetail":{"consumerUserId":1877,"otpType":"FORGOT USERNAME"},"phoneNumber":"9972937334"}}</td></tr>
<tr><td>API: http://52.66.123.140:9590/consumerOnboarding/api/v1/verifyLoginName</td></tr>
<tr><td>STATUS CODE: 200</td></tr>
<tr><td>Request Message: {"loginName":"9972937334"}</td></tr>
<tr><td>STATUS CODE: 200</td></tr>
<tr><td>Response: {"status":{"statusCode":-3997,"message":"User Name has already been registered","localizedMessage":"User Name has already been registered","httpStatusCode":400},"responseData":{"message":"Failed"}}</td></tr>
<tr><td>API : http://52.66.123.140:9590/consumerOnboarding/api/v1/addEmergencyContactDetails</td></tr>
<tr><td>STATUS CODE: 200</td></tr>
<tr><td>Request Message: {"consumerUserId":"2454","contactDetails":[{"firstName":"csf","lastName":"svfs","contactList":[{"contactId":"1","contactNo":"8951525628"}],"imagePath":"dsf","relationshipTypeId":"1"}]}</td></tr>
<tr><td>STATUS CODE: 200</td></tr>
<tr><td>Response: {"status":{"statusCode":-1023,"message":"You can add only max two emergency contact's detail","localizedMessage":"You can add only max two emergency contact's detail","httpStatusCode":400},"responseData":{}}</td></tr>
<tr><td>API: http://52.66.123.140:9590/consumerOnboarding/api/v1/getEmergencyContactDetails</td></tr>
<tr><td>STATUS CODE: 200</td></tr>
<tr><td>Request Message: {"consumerUserId":"2454"}</td></tr>
<tr><td>STATUS CODE: 200</td></tr>
<tr><td>Response: {"status":{"statusCode":1001,"message":"Emergency contact has successfully fetched","localizedMessage":"Emergency contact has successfully fetched","httpStatusCode":200},"responseData":{"emergencyContactDetails":[{"contactDetailId":713,"firstName":"+918884182018","lastName":"","imagePath":"","consumerUserId":2454,"relationshipTypeId":0,"contactList":[{"contactId":1101,"contactNo":"+918884182018"}]},{"contactDetailId":714,"firstName":".Cri","lastName":"","imagePath":"","consumerUserId":2454,"relationshipTypeId":0,"contactList":[{"contactId":1102,"contactNo":"1-234-567-890"}]}],"relationshipDetailList":[{"relationshipTypeId":1,"relationshipName":"Father"},{"relationshipTypeId":2,"relationshipName":"Mother"},{"relationshipTypeId":3,"relationshipName":"Sister"},{"relationshipTypeId":4,"relationshipName":"Brother"},{"relationshipTypeId":5,"relationshipName":"Friend"},{"relationshipTypeId":6,"relationshipName":"Son"},{"relationshipTypeId":7,"relationshipName":"Daughter"},{"relationshipTypeId":8,"relationshipName":"Uncle"},{"relationshipTypeId":9,"relationshipName":"Aunt"}]}}</td></tr>
<tr><td>API : http://52.66.123.140:9590/consumerOnboarding/api/v1/updateEmergencyContactDetails</td></tr>
<tr><td>STATUS CODE: 200</td></tr>
<tr><td>Request Message: {"firstName":"csfUpdate","lastName":"svfsUpdate","contactList":[{"contactId":1101,"contactNo":"8951525628"}],"imagePath":"dsf","relationshipTypeId":2,"consumerUserId":"2454","contactDetailId":"713"}</td></tr>
<tr><td>STATUS CODE: 200</td></tr>
<tr><td>Response: {"status":{"statusCode":1004,"message":"Emergency contact has updated successfully","localizedMessage":"Emergency contact has updated successfully","httpStatusCode":200},"responseData":{"message":"Success"}}</td></tr>
<tr><td>API: http://52.66.123.140:9590/consumerOnboarding/api/v1/removeEmergencyContactDetails</td></tr>
<tr><td>STATUS CODE: 200</td></tr>
<tr><td>Request Message: {"contactDetailsId":"713","consumerUserId":"2454"}</td></tr>
<tr><td>STATUS CODE: 200</td></tr>
<tr><td>Response: {"status":{"statusCode":1002,"message":"Emergency Contact removed successfully","localizedMessage":"Emergency Contact removed successfully","httpStatusCode":200},"responseData":{"message":"Success"}}</td></tr>
<tr><td>API: http://52.66.123.140:9590/consumerOnboarding/api/v1/getConsumerAccountDetail</td></tr>
<tr><td>STATUS CODE: 200</td></tr>
<tr><td>Request Message: {"consumerUserId":"2454"}</td></tr>
<tr><td>STATUS CODE: 200</td></tr>
<tr><td>Response: {"status":{"statusCode":1012,"message":"Consumer Account Detail has fetched successfully","localizedMessage":"Consumer Account Detail has fetched successfully","httpStatusCode":200},"responseData":{"accountDetails":{"consumerUserId":2454,"firstName":"wwwwww","lastName":"Xxff","gender":"Male","userDOB":980965800000,"mobileNo":"9972937334","emailId":"wilson.i@tatahealth.com","imagePath":"","digitalHealtVaultFileCount":61,"digitalHealtVaultFolderCount":5,"accountType":"Personal Account","healthWalletBalance":0.0,"healthScoreCardTestStatus":93.0,"healthScoreCardResultScore":0,"healthScoreCardTestFlag":true,"userName":"9972937334","bloodGroup":null,"roleType":"Consumer","isactive":"Y","createdUserId":null,"createdTimestamp":1507541305223,"modifiedUserId":null,"modifiedTimestamp":null,"termAndCondition":"N","acceptTCDate":null,"ipAddress":null,"aadharCardNumber":null,"otpCreatedTime":null,"isEmailVerfied":"N","healthVaultPin":"1111","rewardPoints":"89510","packageData":{"packages":[{"carePackagesId":1015,"packageName":"LAB_ONLY","packagetypeId":2,"serviceOfferPrice":null,"packageOfferPrice":1200.0,"packageSysPrice":null,"maximumNumber":1000,"packageStartDate":1509301800000,"packageEndDate":1512239400000,"freeTrialDays":null,"status":"Active","userId":60,"packageValidityId":2,"packageValidity":2,"purchasePackagesId":628,"packagePurchaseDate":1510033613306,"packageExpiryDate":1515390413306,"createdUser":null,"createdTimestamp":null,"activeUsers":null,"purchased":null,"slotsLeft":null,"pkgDiscription":"LAB_ONLY","pkgTitle":null,"consultationTitle":null,"consultationDiscription":null,"deviceTitle":null,"deviceDiscription":null,"pharmacyTitle":null,"pharmacyDiscription":null,"labTitle":"LAB_ONLY","labDiscription":"LAB_ONLY","careSecondOpinionTitle":null,"careSecondOpinionDiscription":null,"packageLogo":"https://consumerappdev.s3.amazonaws.com/PACKAGE_LOGO_033e06a356889e7977dcf158c448db68.jpg","packageUsageModes":{"modeBean":null,"labBean":{"offerPercentage":null,"offerPrice":null,"actualPrice":null,"totalCount":5,"usedCount":null,"labId":null}},"packageLogoSmall":"https://consumerappdev.s3.amazonaws.com/PACKAGE_LOGO_033e06a356889e7977dcf158c448db68_small.jpg","packageLogoMedium":"https://consumerappdev.s3.amazonaws.com/PACKAGE_LOGO_033e06a356889e7977dcf158c448db68_medium.jpg","alreadyPurchased":false}]},"createdHealthVaultTimestamp":1507543074318,"modifiedHealthVaultTimestamp":1507543074318}}}</td></tr>
<tr><td>API: http://52.66.123.140:9590/consumerOnboarding/api/v1/saveOrUpdateWorkDetail</td></tr>
<tr><td>STATUS CODE: 200</td></tr>
<tr><td>Request Message: {"city":"Bangalore","companyAddress":"HSR 3","companyName":"Tata Health","consumerWorkingCompanyId":"107","consumerUserId":"2454","state":"Karnataka","phoneNo":"8951525628"}</td></tr>
<tr><td>STATUS CODE: 200</td></tr>
<tr><td>Response: {"status":{"statusCode":-1017,"message":"No Work Detail was found","localizedMessage":"No Work Detail was found","httpStatusCode":400},"responseData":{}}</td></tr>
<tr><td>API: http://52.66.123.140:9590/consumerOnboarding/api/v1/getWorkDetail</td></tr>
<tr><td>STATUS CODE: 200</td></tr>
<tr><td>Request Message: {"consumerUserId":"2454"}</td></tr>
<tr><td>STATUS CODE: 200</td></tr>
<tr><td>Response: {"status":{"statusCode":-1017,"message":"No Work Detail was found","localizedMessage":"No Work Detail was found","httpStatusCode":204},"responseData":{"workDetail":{"consumerWorkingCompanyId":null,"companyName":null,"companyAddress":null,"city":null,"state":null,"phoneNo":null}}}</td></tr>
<tr><td>API: http://52.66.123.140:9590/consumerOnboarding/api/v1/saveOrUpdateConsumerAddress</td></tr>
<tr><td>STATUS CODE: 200</td></tr>
<tr><td>Request Message: {"pincode":"8951525628","address":"HSR","city":"Bangalore","companyPhone":"1122334455","addressType":"Karnataka","companyName":"Tata Health","consumerAddressId":"0","consumerUserId":"2454","state":"Karnataka","landmark":"107"}</td></tr>
<tr><td>STATUS CODE: 200</td></tr>
<tr><td>Response: {"status":{"statusCode":1005,"message":"Address updated successfully","localizedMessage":"Address updated successfully","httpStatusCode":200},"responseData":{"message":"Success"}}</td></tr>
<tr><td>API: http://52.66.123.140:9590/consumerOnboarding/api/v1/getConsumerAddress</td></tr>
<tr><td>STATUS CODE: 200</td></tr>
<tr><td>Request Message: {"consumerUserId":"2454"}</td></tr>
<tr><td>STATUS CODE: 200</td></tr>
<tr><td>Response: {"status":{"statusCode":1007,"message":"Address has fetched successfully","localizedMessage":"Address has fetched successfully","httpStatusCode":200},"responseData":{"addressTypeList":[{"addressTypeMasterId":1,"addressType":"Home"},{"addressTypeMasterId":2,"addressType":"Office"},{"addressTypeMasterId":3,"addressType":"Others"}],"address":[{"consumerAddressId":607,"addressType":"Office","address":"V","pincode":560048,"landmark":"V","city":"V","state":"G","email":"wilson.i@tatahealth.com","code":"IN","companyName":null,"companyPhone":null,"mobileNumber":1264500859,"name":"Btendon","isCurrentAddress":true},{"consumerAddressId":659,"addressType":"Others","address":"do","pincode":560102,"landmark":"xcxx","city":"cg","state":"fog","email":"wilson.i@tatahealth.com","code":"IN","companyName":null,"companyPhone":null,"mobileNumber":1234567891,"name":"Nisha ","isCurrentAddress":false},{"consumerAddressId":660,"addressType":"Home","address":"Hhd","pincode":0,"landmark":"hhd","city":"hhd","state":"hhd","email":"wilson.i@tatahealth.com","code":"IN","companyName":null,"companyPhone":null,"mobileNumber":9972937334,"name":"Wilson smith Xxff","isCurrentAddress":false},{"consumerAddressId":692,"addressType":"Karnataka","address":"HSR","pincode":8951525628,"landmark":"107","city":"Bangalore","state":"Karnataka","email":"wilson.i@tatahealth.com","code":"IN","companyName":null,"companyPhone":null,"mobileNumber":9972937334,"name":"wwwwww Xxff","isCurrentAddress":false}]}}</td></tr>
<tr><td>API: http://52.66.123.140:9590/consumerOnboarding/api/v1/setCurrentAddress</td></tr>
<tr><td>STATUS CODE: 200</td></tr>
<tr><td>Request Message: {"consumerAddressId":"607","isCurrentAddress":"true","consumerUserId":"2454"}</td></tr>
<tr><td>STATUS CODE: 200</td></tr>
<tr><td>Response: {"status":{"statusCode":1008,"message":"Current address has set successfully","localizedMessage":"Current address has set successfully","httpStatusCode":200},"responseData":{"message":"Success"}}</td></tr>
<tr><td>API: http://52.66.123.140:9590/consumerOnboarding/api/v1/logout</td></tr>
<tr><td>STATUS CODE: 200</td></tr>
<tr><td>Request Message: {"consumerUserId":"2454","deviceId":"260"}</td></tr>
<tr><td>STATUS CODE: 200</td></tr>
<tr><td>Response: {"status":{"statusCode":3010,"message":"logged out succesfully","localizedMessage":"logged out succesfully","httpStatusCode":200},"responseData":{"message":"logged out succesfully"}}</td></tr>
</table>